body {
    background: #0D08AC;
}

.navbar {
    display: flex;           /* Ensure the navbar uses flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center;     /* Center content vertically */
    height: 80px;            /* Optional: adjust navbar height for spacing */
}

/* Adjust the navbar toggler to stay on the left */
.navbar-toggler {
    position: absolute;         /* Position it on the left */
    left: 10px;                 /* Adjust left margin as needed */
}

/* Remove the focus outline and border when the hamburger icon is clicked */
.navbar-toggler:focus {
    outline: none;     /* Removes the default focus outline */
    box-shadow: none;  /* Removes any shadow effect */
}

/* Style the brand text */
.navbar-brand {
    font-size: 2rem;        /* Increase font size */
    font-weight: bold;      /* Bold text */
    color: white;        /* White text color */
    margin: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

h3 {
    text-align: left;
    color: white;
    margin-top: 200px;
    margin-left: 40px;
}

